// .picture_img {
//   border-radius: 20px;
//   width: 100%;
//   object-fit: cover;
// }

// .about .banner {
//   height: 223px;
// }

.about {
    display: flex;
      flex-direction: column;  
      min-height: 100vh;
    }

@media all and (min-width: 767px) {
  .about__collapse {
    margin: 10px 100px;

    p {
      font-size: 24px;
    }
  }
}
