.equipment {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
  }
}

.location {
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 0 0;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

@media all and (min-width: 767px) {
  .collapse__menu {
    height: 52px;
    h2 {
      font-size: 18px;
    }
  }

  .location {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
  }
}

@media all and (min-width: 991px) {
  .presentation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .equipment li {
    font-size: 18px;
  }

  .accomodation__collapse {
    display: flex;
    justify-content: space-between;
    flex: 2.1;

    p {
      font-size: 18px;
    }
  }

  .collapse {
    flex: 1;
  }

  .spacer_10 {
    width: 20px;
  }
}
