.tag {
    background-color : #FF6060;
    color: white;
    height: 18px;
    max-width : 90%;
    margin: 10px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.alltags {
    display: flex;
    /* justify-content: space-between ; */
}
/* .descriptiontag li {
    display: flex;
    flex-direction: column;
} */

.equipment ul {
    display: flex;
    flex-direction: column;
}

.equipment li {
    padding: 0;
}

.presentation {
    display: flex;
    justify-content: space-between;
}

.host__presentation {
    display: flex;
}

.host__name {
    width: 93px;
}

.host__picture {
    width: 32px;
    clip-path:ellipse(50% 50%);
}