@import "./home.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./notfound.scss";
@import "./card.scss";
@import "./banner.scss";
@import "./about.scss";
@import "./collapse.scss";
@import "./imageslider.scss";
@import "./accomodation.scss";
@import "./ratingbar.scss";
@import "./host.scss";
@import "./tag.scss";


main {
  padding: 0 20px;
  flex-grow: 1;
}

body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  color: #ff6060;
  max-width: 1400px;
  margin: auto;
}

// #root {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }

@media all and (min-width: 767px) {
  main {
    padding: 0 40px;
  }
}
