@import './home.css';
@import './header.css';
@import './footer.css';
@import './notfound.css';
@import './card.css';
@import './banner.css';
@import './about.css';
@import './collapse.css';


/* body {
    padding : 20px;
    width: 100%;
} */

body {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    /* mettre en rem */
    /*border : 1px solid red;
     essai pour voir limite du body */
}