.banner {
    /* width : 100%; */
    /* padding : 20px; */
    border: solid 1px red;
    padding: 0 20px 0 20px;
}

.banner_img {
    /* width : 200px; */
    border-radius: 20px;
    /* display: block; */
    /* padding: 0 20px 0 20px; */

    /* position: absolute; */
    width: 100%;
    /* max-width: 1400px; */
    height: 111px;
    object-fit: cover;
    /* z-index: 0; */

}