.accomodation_card {
  // height: 255px;
  /* width: 335px; */

  // border-radius: 20px;
  /* margin: 20px; */
  position: relative;
  // z-index: 10;
  display: inline-block;
  /* margin: 20px auto 20px auto; */
  margin : 20px;
}

.accomodation_card_gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.accomodation_card h2 {
  color: white;
  font-size: 18px;
  width: 200px;
  margin: 0;
  padding: 0 0 10px 20px;
  position: absolute;
  bottom: 0;
}

.accomodation_picture {
  object-fit: cover;
  max-width: 335px;
  width: 100%;
  height: 255px;
  /* position: absolute; */
  display: flex;
  border-radius: 15px;
  /* position: absolute; */
  // position: relative;
  // z-index: -1;
//   background: linear-gradient(
//     180deg,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(0, 0, 0, 0.5) 100%
//   );
}

@media all and (min-width: 767px) {
  .accomodation_picture {
    height: 340px;
    width: 340px;
    max-width: none;
  }
  
  }

  @media all and (min-width: 991px) and (max-width: 1400px) {
    .accomodation_picture {
      height: 340px;
      width: 340px;
      max-width: none;
    }
    
    }