.collapse {
    /* border: 1px solid blue; */
    margin : 20px 0;
    /* background-color: black; */
}

.collapse h2 {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 500;
}

.collapse p {
    /* font-size: 13px; */
    color: #FFFFFF;
    /* font-weight: 500; */
}

.description p {
    font-size: 12px;
    color: #FF6060;
    margin: 0;
    background-color: #F6F6F6;
    padding : 10px;
    /* position: absolute; */
    // overflow: hidden;
    // transition: height 2s;

    // overflow: hidden;
    // transition: max-height 0.2s ease-out;

    animation: apparition 2.0s linear;


}

.description {
//     z-index: -1;
//     transition: transform 5s ease-in-out;
//     &.hidden {
//       transform: translateY(-100%);
//     }
//     &.visible {
//       transform: translateY(0);
//     }

// overflow: hidden;
// transition: max-height 0.2s ease-out;

// overflow: hidden;
transition: height 200ms;

// position : relative;
// top: 1;
border-radius: 5px;
position: relative;
top: -0.3rem;
z-index: -1;

// animation: apparition 2.0s linear;
}

.description div {
    font-size: 12px;
    color: #FF6060;
    margin: 0;
    background-color: #F6F6F6;
    padding : 10px;
    /* position: absolute; */

}

.menu {
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    /* position: absolute; */
    // position: relative;
    height: 30px;
}

.menu h2 {

    margin: auto 0;
}

// .collapse {
//     margin: 30px;
// }

.fa-chevron-up {
    font-size: 20px;
}

.menu__scrolling {
    margin: 0;
    margin: auto 0;
}

@keyframes apparition {
    from {
        height: 0;
    }

    to {
        height: max-height;
        height: 100%;
    }

}