footer {
    background-color : black;
    color: white;
    text-align: center;
    padding : 50px 0 50px 0;
    font-size : 12px;
    font-weight: 500;
    margin-top: 50px;
    border: solid 1px red;
    width: 100%;

}

.logo {
width: 122px;
height: 40px;
}