footer {
    background-color : black;
    color: white;
    text-align: center;
    padding : 50px;
    font-size : 12px;
    font-weight: 500;
    margin-top: 50px;
}

.logo {
width: 122px;
height: 40px;
}