.home .banner__img {
  filter: brightness(0.65);
}

.home .banner {
  height: 111px;
}

.banner {
  position: relative;

  h1 {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 0 20px;
    z-index: 10;
  }
}

.bannertitle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.accomodation__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media all and (min-width: 767px) {
  .accomodation {
    padding: 10px 0;

    &__list {
      background-color: #f6f6f6;
      border-radius: 20px;
      padding: 20px;
    }
  }

  .bannertitle h1 {
    text-align: start;
    padding: 10px;
  }

  .home .banner__img {
    height: 223px;
  }

  .home .banner {
    height: 223px;
  }
}

@media all and (min-width: 991px) {
  .accomodation__list {
    background-color: #f6f6f6;
    border-radius: 20px;
  }
}
