.Notfound {
  display: flex;
    flex-direction: column;  
    min-height: 100vh;
  }

.Notfound__title {
  color: #ff6060;
  font-weight: 700;
  font-size: 96px;
  margin: 0;
  padding-top: 180px;
  text-align: center;
}

.Notfound__info {
  padding: 0 50px 150px 50px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.Link {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  a {
    font-size: 14px;
    font-weight: 500;
    color: #ff6060;
  }
}

@media all and (min-width: 767px) {
  .Notfound__title {
    font-size: 150px;
  }

  .Notfound__info {
    font-size: 24px;
  }

  .Link a {
    font-size: 18px;
  }
}

@media all and (min-width: 991px) {
  .Notfound__title {
    font-size: 288px;
  }

  .Notfound__info {
    font-size: 36px;
  }

  .Link a {
    font-size: 18px;
  }
}
